.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid  black;
    width: 300px;
    height: 170px;
    justify-content: space-around;
    margin: 30px;
    background: #3a4f41;
    border-radius: 5px;
}

.display {
    width: 200px;
    height: 50px;
    border: 1px solid #eeeeff;
    background: #a6a57a;
    color: #eeeeff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;

}

.btn button {
    margin: 5px;
    
}
.error {
    color: #da4167;
}

